{% extends 'main.html' %}
{% block content %}

<body>

    <hr>

    <br>
    <div class="invoices">

        {% for client in client %}



        <div class="oval">
            <div class="status">
                <div class="vl"></div>
            </div>
            <div class="customer">
                <div class="right">
                    <p>bill to :</p>
                    <b>{{client.clientName}}</b>
                    <p>{{client.clientAddress}}</p>
                    <p>{{client.clientTown }}</p>
                    <p>{{client.clientpostalCode}}</p>
                </div>
                <div class="left" style="text-align: right;">
                    <b>Invoice Id:inv-{{client.id}}</b><br>
                    <h6>Date:{{client.date}}</h6>
                    <h6>Account number:1541048928</h6>
                    <b>Due Date:{{client.dueDate}}</b><br>

                </div>
            </div>
            <div class="status">
              <div class="vl"></div>
            </div>

        </div>



        <div class="action">
            <a href="download/{{client.id}}" target="_blank">View Invoice</a>
        </div>
        {% endfor %}

    </div>
    <hr>

    <div class="foot">


        <h3>The smart Invoice</h3>
        <h6><a href="#">Disclaimer</a>|<a href="#">Privacy police</a>|<a href="#">Reports</a>|<a href="#">News</a>|<a
                href="#">Contact us</a>|<a href="#">About Used</a></h6>
        <h6>© 2022-2022 TR-invoice. All rights reserved. Version: 1.0.0</h6>
        <br>

    </div>

</body>
{% endblock %}