{% extends 'main.html' %}
{% block content %}
<body>

    <hr>

    <br>
    <div class="invoices">


        <div class="invoice" id="1">

            <div class="box">
                <div class="right">
                    <b>University of Johannesburg</b>
                    <p>210 Maxixini</p>
                    <p>Acornhoek</p>
                    <p>1360</p>
                </div>
                <div class="left">
                    <b>Invoice</b><br>
                    <br>
                    {% load static %}
                    <img src="{% static '/pictures/images.png' %}" alt="pic" class="picture">
                </div>
            </div>
            <hr>

            <div class="box">
                <div class="right">
                    <p>bill to :</p>
                    <b>University of Johannesburg</b>
                    <p>210 Maxixini</p>
                    <p>Acornhoek</p>
                    <p>1360</p>
                </div>
                <div class="left" style="text-align: right;">
                    <b>Invoice Id:inv-001</b><br>
                    <h6>Date:13/06/2022</h6>
                    <h6>Account number:1541048928</h6>
                    <b>Due Date:19/06/2022</b><br>

                </div>
            </div>
            <hr>
            <div class="box">
                <table>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>RATE</th>
                        <th>QTY</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <td>50 kg cement</th>
                        <td>R95</th>
                        <td>4</th>
                        <td>R380</th>
                    </tr>
                    <tr>
                        <td>50 kg cement</th>
                        <td>R95</th>
                        <td>4</th>
                        <td>R380</th>
                    </tr>
                    <tr>
                        <td>
                            </th>
                        <td>
                            </th>
                        <td>sub total</th>
                        <td>R646</th>
                    </tr>
                    <tr>
                        <td>
                            </th>
                        <td>
                            </th>
                        <td>vat @ 15%</th>
                        <td>R114</th>
                    </tr>
                    <tr>
                        <td>
                            </th>
                        <td>
                            </th>
                        <td>TOTAL</th>
                        <td>760</th>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="box">
                <div class="contact">
                    <b>Thank you for your Business</b>
                    <h6>0676527884|regionaldmongwe@gmail.com|SMEs.com</h6>
                    <a href="#">invoice powered by TR-invoice</a>
                </div>
            </div>
        </div>

        <div class="action">
            <button value="1" onclick="downloadPDF(this.value)">save pdf</button>
            <button>save docx</button>
            <button>save csv</button>

        </div>


    </div>
    <hr>
    <div class="foot">


        <h3>The smart Invoice</h3>
        <h6><a href="#">Disclaimer</a>|<a href="#">Privacy police</a>|<a href="#">Reports</a>|<a href="#">News</a>|<a
                href="#">Contact us</a>|<a href="#">About Us</a></h6>
        <h6>© 2022-2022 TR-invoice. All rights reserved. Version: 1.0.0</h6>
        <br>

    </div>
   
</body>
 {% endblock %}
