body{

    max-width: 100%;
    margin: auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:0a0908;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #0a0908;
        color: yellow;
    }
    h1,h2,h3,h4,h5,h6,p{
      color: #000000;
      margin: 0.75%;
    }
.invoices{
    background: linear-gradient(red,yellow,black);
}
.invoice{
 max-width: 74%;
 margin: auto;
 background-color: white;
}
.action{
    max-width: 74%;
    margin: auto;
    padding: 1%;
    text-align: center;
   }
.action button{
    padding: 2%;
    color: yellow;
    background-color: black;
    border-radius: 15px;
    border-color: black;
}
.box{
    display: flex;
}
.right{
    margin-right: auto;
    width: 50%;
    padding: 1%;
}
.left{
    margin-left: auto;
    width: 50%;
    padding: 1%;
    text-align: center;
    align-items: center;
}
.picture{
    width:25%;
}
.contact{
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
    }
table{width: 100%;
    margin: auto;
}
.box table tr:hover {background-color: yellow;
}
th,td{
text-align: center;
border-bottom: 1px solid #ddd;
}

    .navigator{
        background-color:white;
        display: flex;
    }
    .btn {
        font: inherit;
        width: 23%;
        cursor: pointer;
        border-radius: 4px;
        background-color: #800040;
        color: white;
        border: 1px solid #800040;
        margin: 0.25%;
        padding:1.15%;
      }
      .btn:hover {
        background-color: #9c1458;
        border-color: #9c1458;
      }
      input{
        width: 95%;
        padding: 2%;
        margin: 1%;
        }
        input:focus{
            background-color:lightblue;
        
        }
        
    
    hr{
        background-color: red;
      }
      .card {
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        width: 70%;
        margin: auto;
        text-align: center;
      }
      table{
        width: 100%;
        table-layout:fixed;
      }
      .input{
        margin-bottom: 0.2em;
      }
      .btn:active{
          background-color: black;
          color: yellow;
      }
      .hide{
        display: none;
      }
      .foot{
        display: none;
      }
      
      @media (min-width:720px){
        body{
          width: 80%;
          margin: auto;
          background-color: whitesmoke;
        }
        .foot{
          display: block;
          text-align: center;
          width: 100%;
          margin: auto;
          bottom: 0px;
          padding: 0.5%;
          background-color: DarkSalmon;
        }
        
      }

